/* footer */
.text-inst{
    color:yellow
  }
.text-sf{
   color: #FFFF00;
}

  
  .logo-custom-foot{
    height: 140px;
    width: 200px;
  }


  .custom-color-f{
    background-color: grey!important;
    color: yellow !important;
  }

  
  .logo-custom{
    height: 60px;
    width: 100px;
  }

  .lunghezza{
    width: 100%;
  }

  .bordoF{
    border-top: yellow solid 2px!important;
    border-bottom: yellow solid 2px!important;
  }
  /* footer fine */