/* footer */
.text-inst{
    color:rgb(237, 222, 164)
  }
.text-sf{
   color: #FFFF00;
}

  
  .logo-custom-foot{
    height: 140px;
    width: 200px;
  }


  .custom-color-f{
    background-color: rgb(62, 76, 94) !important;
    color: rgb(237, 222, 164) !important;
  }

  
  .logo-custom{
    height: 60px;
    width: 100px;
  }

  .lunghezza{
    width: 100%;
    margin-top: 250px;
  }

  .bordoF{
    border-top: #FFEBA7 solid 2px!important;
  }
  /* footer fine */